.center {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-with-text {
    text-align: justify;
    width: 100;
    height: 100;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}